.popup__button {
  width: 350px;
  height: 50px;
  margin: 15px 0 8px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .popup__button {
    width: 200px;
    padding: 5px 0;
    margin-top: 20px;
    padding-bottom: 5px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
  }
}
