.popup__input-text {
  width: 350px;
  /* margin-top: 10px; */
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10px 0;
  box-sizing: border-box;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.popup__input-text::placeholder {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

@media screen and (max-width: 400px) {
  .popup__input-text {
    width: 200px;
    padding: 5px 0;
  }
}