.popup__container {
  width: 390px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 38px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0 10px 40px;
}

@media screen and (max-width: 400px) {
  .popup__container {
    width: 240px;
    height: 272px;
    margin-right: 20px;
    padding: 10px 0 10px 32px;
  }
}
