
@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__input-text/popup__input-text.css);
@import url(./__button/popup__button.css);
@import url(./__grid/popup__grid.css);
@import url(./__close-icon/popup__close-icon.css);
@import url(./__figure/popup__figure.css);
@import url(./__grid/_image/popup__grid_image.css);
@import url(./__image/popup__image.css);
@import url(./__caption/popup__caption.css);
@import url(./__close-icon/_image/popup__close-icon_image.css);
@import url(./__container/_add_card/popup__container_add_card.css);
@import url(./__input-error/popup__input-error.css);
@import url(./__input-text/_type/popup__input_type_error.css);
@import url(./__input-text/_type/popup__input-error_active.css);
@import url(./__button/_disabled/popup__button_disabled.css);
@import url(./__button/_add_card/popup__button_add_card.css);
@import url(./__container/_avatar/popup__container_avatar.css);
@import url(./__container/_confirm/popup__container_confirm.css);
@import url(./__container/_profile/popup__container_profile.css);
@import url(./__image-sign/popup__image-sign.css);
@import url(./__text-sign/popup__text-sign.css);



.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  font-family:'Inter', Arial, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  -moz-transition:  all 0.5s;
}